
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
  
@

.site-header .navbar-nav .nav-link {
    color: white;
}
  
.site-header .navbar-nav .nav-link:hover {
    background-color: #694F5D;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

body::selection {
  background: #0094C6;
  color: #EEF6FC;
}


body {
    background-color: #040F16;
    color: #EEF6FC;
}


li>a:link{
  text-decoration: none;
  color: #EEF6FC;
}

li>a:hover{
  text-decoration: none;
  color: #333536;
}

li>a:visited{
  text-decoration: none;
  color: #EEF6FC;
}

.about-page{
  padding-right: 50px;
  margin-right: 50px;
}

.header{
    background-color: #694F5D;
    margin:20px;
    padding:10px;
    color:#EEF6FC;
  }

  #sitenav ul{
    list-style: none;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    list-style:none;
    font-size:30px;
    font-style:bold;
    background-color: #694F5D;
    color: #EEF6FC;
    display:inline;
  }
  
  .pages{
    float:right;
  }
  
  #sitenav li{
    display: inline;
    padding:5px;
    margin:0px;
    font-size:20px;
  }

  #sitenav img{
      width: 10%;
  }

  #topartists #toptracks {
    margin: 20px 17.5% 40px 20%;
    padding: 20px 3%;
    background: #005E7C;
  }

  #tabletopartists #tabletoptrack{
    border: 1px solid black;
  }
  #tabletopartists #tabletoptrack td{
    background-color: #005E7C
  }

table, th, td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
}
table, th, td {
     border: 1px solid rgb(255, 255, 255);
     margin: 50px;
}
.albumpreview td{
  width:15%;
  padding: 2%
}

h6 {
  margin-left: 2%;
}

